force-app/main/default/flows/Approve_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Approver</name>
        <label>Add Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Expansion_Decision_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assignment</name>
        <label>Final Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Approver_is_Blank_or_Not</name>
        <label>Check Approver is Blank or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Expansion_Decision_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approver is not Blank</defaultConnectorLabel>
        <rules>
            <name>Is_Approver_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ApproverId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Approver</targetReference>
            </connector>
            <label>Is Approver Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scorecard_Available</name>
        <label>Scorecard Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scorecard_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Site_Scorecard.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Approver_is_Blank_or_Not</targetReference>
            </connector>
            <label>Scorecard Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Approve Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Expansion_Decision_Record</name>
        <label>Create Expansion Decision Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>var_DecisionId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Expansion_Potential_Site_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_By__c</field>
            <value>
                <elementReference>var_ApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Committed_Capex__c</field>
            <value>
                <elementReference>var_Capex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>var_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Score_Card__c</field>
            <value>
                <elementReference>Get_Records_Site_Scorecard.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Open_Date__c</field>
            <value>
                <elementReference>var_OpenDate</elementReference>
            </value>
        </inputAssignments>
        <object>Expansion_Decision__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Records_Site_Scorecard</name>
        <label>Get Records Site Scorecard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scorecard_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Potential_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site_Score__c</object>
        <sortField>Scored_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expansion_Potential_Site_Record</name>
        <label>Update Expansion Potential Site Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Site_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Potential_Site__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_Site_Scorecard</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Capex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_DecisionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OpenDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Remarks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
