force-app/main/default/flows/Competitor_Distance_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Distance_Action</name>
        <label>Calculate Distance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HaversineDistanceCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Distance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lat1</name>
            <value>
                <elementReference>Get_Potential_Site.Address__Latitude__s</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lon1</name>
            <value>
                <elementReference>Get_Potential_Site.Address__Longitude__s</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lat2</name>
            <value>
                <elementReference>Get_Competitor_Account.BillingLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lon2</name>
            <value>
                <elementReference>Get_Competitor_Account.BillingLongitude</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HaversineDistanceCalculator</nameSegment>
        <outputParameters>
            <assignToReference>CalculatedDistance</assignToReference>
            <name>distance</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Coordinates_Available</name>
        <label>Check Coordinates Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Distance_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Coordinates Missing</defaultConnectorLabel>
        <rules>
            <name>All_Coordinates_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Potential_Site.Address__Latitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Potential_Site.Address__Longitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Competitor_Account.BillingLatitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Competitor_Account.BillingLongitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Distance_Action</targetReference>
            </connector>
            <label>All Coordinates Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Competitor Distance Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Competitor Distance Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Competitor_Account</name>
        <label>Get Competitor Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Coordinates_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Competitor_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Potential_Site</name>
        <label>Get Potential Site</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Competitor_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Potential_Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Potential_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Distance</name>
        <label>Update Distance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Distance_km__c</field>
            <value>
                <elementReference>CalculatedDistance</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Distance_to_Null</name>
        <label>Update Distance to Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Distance_km__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Potential_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distance_km__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Competitor_Proximity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CalculatedDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
