force-app/main/default/flows/Create_Site_And_WhatsApp_Interaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Resolve_Google_Maps_URL_Action</name>
        <label>Resolve Google Maps URL Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GoogleMapsInvocableAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>URL_Resolved_Successfully</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mapsUrl</name>
            <value>
                <elementReference>gMapURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GoogleMapsInvocableAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Site_Id</name>
        <label>Assign Site Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PotentialSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_var_SiteCollection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Site_Assigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Site_Assigned</name>
        <label>Site Assigned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_var_SiteCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_first_record_already_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PotentialSiteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is first record already assigned?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Exist</name>
        <label>Site Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Potential_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Potential_Sites.var_ResultCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Potential_Sites.var_SiteCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_var_SiteCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>URL_Resolved_Successfully</name>
        <label>URL Resolved Successfully?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Resolved</defaultConnectorLabel>
        <rules>
            <name>Check_URL_Resolution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resolve_Google_Maps_URL_Action.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Resolve_Google_Maps_URL_Action.formattedAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Resolve_Google_Maps_URL_Action.latitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Resolve_Google_Maps_URL_Action.longitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Potential_Sites</targetReference>
            </connector>
            <label>Check URL Resolution</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Site And WhatsApp Interaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Potential Site</label>
    <loops>
        <name>Loop_var_SiteCollection</name>
        <label>Loop var_SiteCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Potential_Sites.var_SiteCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Site_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Potential_Site</name>
        <label>Create Potential Site</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>var_PotentialSiteId</assignRecordIdToReference>
        <inputAssignments>
            <field>Address__City__s</field>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__CountryCode__s</field>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Latitude__s</field>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Longitude__s</field>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__PostalCode__s</field>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__StateCode__s</field>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Street__s</field>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIN_Code__c</field>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Status__c</field>
            <value>
                <stringValue>Scored</stringValue>
            </value>
        </inputAssignments>
        <object>Potential_Site__c</object>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resolve_Google_Maps_URL_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Potential_Sites</name>
        <label>Get Potential Sites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Site_Exist</targetReference>
        </connector>
        <flowName>Get_Potential_Sites</flowName>
        <inputAssignments>
            <name>var_FullAddress</name>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.formattedAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_lat</name>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_long</name>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Region</name>
            <value>
                <elementReference>Resolve_Google_Maps_URL_Action.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Status</name>
            <value>
                <stringValue>Scored</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>gMapURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PotentialSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
