force-app/main/default/flows/Find_Blind_Spots.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_BlinSpot</name>
        <label>Assign BlinSpot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_BlindSpotCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Blind_Spot_Scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Demand_Threshold</name>
        <label>Assign Demand Threshold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DemandThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Blind_Spot_Scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BlindSpotCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BlindSpotCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Found blind spot sites with demand score above threshold and low competition</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Blind_Spot_Scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BlindSpotCount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Threshold_Blank</name>
        <label>Is Threshold Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Demand_Threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Threshold Not Blank</defaultConnectorLabel>
        <rules>
            <name>Threshold_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DemandThreshold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Blind_Spot_Scores</targetReference>
            </connector>
            <label>Threshold Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Find Blind Spots {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Blind Spots</label>
    <loops>
        <name>Loop_Blind_Spot_Scores</name>
        <label>Loop Blind Spot Scores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_BlindSpotScores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BlinSpot</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Blind_Spot_Scores</name>
        <label>Get Blind Spot Scores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Outputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demand_Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var_DemandThreshold</elementReference>
            </value>
        </filters>
        <filters>
            <field>Competition_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site_Score__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Demand_Score__c</queriedFields>
        <queriedFields>Competition_Level__c</queriedFields>
        <queriedFields>Blind_Spot_Flag__c</queriedFields>
        <queriedFields>Potential_Site__c</queriedFields>
        <sortField>Demand_Score__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Threshold_Blank</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>textSummary</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Found {!var_Count} blind spot locations. (Subagent calls Get_Scorecard_Summary per site for full detail.)</text>
    </textTemplates>
    <variables>
        <name>var_BlindSpotCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_BlindSpotScores</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Site_Score__c</objectType>
    </variables>
    <variables>
        <name>var_BlindSpotSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Potential_Site__c</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_CounterBs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CurrentBsSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Potential_Site__c</objectType>
    </variables>
    <variables>
        <name>var_CurrentSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Potential_Site__c</objectType>
    </variables>
    <variables>
        <name>var_DemandThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>70.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
