force-app/main/default/flows/Generate_Financial_Projection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Financial_Projection_Apex_Action</name>
        <label>Generate Financial Projection Apex Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GenerateFinancialProjectionApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Viability_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>siteIds</name>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateFinancialProjectionApex</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_Capex</assignToReference>
            <name>capex</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_PaybackYears</assignToReference>
            <name>paybackYears</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_ProjectionId</assignToReference>
            <name>projectionId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_RevenueY1</assignToReference>
            <name>revenueY1</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_RevenueY2</assignToReference>
            <name>revenueY2</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_RevenueY3</assignToReference>
            <name>revenueY3</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Existing_Projection</name>
        <label>Assign Existing Projection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Capex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_projection_check.Capex_Estimate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RevenueY1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_projection_check.Expected_Revenue_Yr1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RevenueY2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_projection_check.Expected_Revenue_Yr2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RevenueY3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_projection_check.Expected_Revenue_Yr3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PaybackYears</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_projection_check.Payback_Period_Yrs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProjectionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_projection_check.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_projection_check.Potential_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ViabilityStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_projection_check.Viability_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Viability_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Viability_Status</name>
        <label>Assign Viability Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ViabilityStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_ViabilityStatus</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Projection_Exists</name>
        <label>Projection Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Generate_Financial_Projection_Apex_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Have Projection</defaultConnectorLabel>
        <rules>
            <name>Have_Projection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_projection_check.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Projection</targetReference>
            </connector>
            <label>Have Projection</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_ViabilityStatus</name>
        <dataType>String</dataType>
        <expression>IF({!var_PaybackYears} &lt;= 2, &quot;High Viability&quot;, IF({!var_PaybackYears} &lt;= 3.5,&quot;Viable&quot;,&quot;Review Required&quot;))</expression>
    </formulas>
    <interviewLabel>Generate Financial Projection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Financial Projection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Existing_projection_check</name>
        <label>Existing projection check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Projection_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Potential_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Potential_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Financial_Projection__c</object>
        <sortField>Generated_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Potential_Records</name>
        <label>Get Potential Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_projection_check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__City__s</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PIN_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__StateCode__s</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Potential_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Potential_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Capex</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_PaybackYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_ProjectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RevenueY1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_RevenueY2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_RevenueY3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ViabilityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
