force-app/main/default/flows/Get_Scorecard_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ScorecardText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site found but no scorecard exists yet. Run the scoring agent action first.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plain_Text_or_Formatted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assignment</name>
        <label>Final Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Formatted_Score_Card</name>
        <label>Formatted Score Card</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ScorecardText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedScoreCard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plain_Score_Card</name>
        <label>Plain Score Card</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ScorecardText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plainScoreCard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Proceed_with</name>
        <label>Proceed with Zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_RevenueDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PaybackDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ViabilityDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not yet projected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plain_Text_or_Formatted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address_Not_Found_Message</name>
        <label>Set Address Not Found Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ScorecardText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No site found matching the address: {!var_AddressString}. Try using the site name or a different address format.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Site_Found_Status</name>
        <label>Site Found Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ScorecardText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No site record found for the provided Site ID. Please check the ID and try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Records_by_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Plain_Text_or_Formatted</name>
        <label>Plain Text or Formatted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Formatted_Score_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Formatted</defaultConnectorLabel>
        <rules>
            <name>Plain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PlainText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plain_Score_Card</targetReference>
            </connector>
            <label>Plain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_ID_or_Address</name>
        <label>Site ID or Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Site_Found_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address String (default outcome)</defaultConnectorLabel>
        <rules>
            <name>Site_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SiteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_by_ID</targetReference>
            </connector>
            <label>Site Id Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Projection_Found</name>
        <label>Was Projection Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Proceed_with</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Projection (default)</defaultConnectorLabel>
        <rules>
            <name>Projection_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Financial_Projection.Expected_Revenue_Yr1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plain_Text_or_Formatted</targetReference>
            </connector>
            <label>Projection Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Scorecard_Found</name>
        <label>Was Scorecard Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Scorecard (default)</defaultConnectorLabel>
        <rules>
            <name>Scorecard_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Scorecard.Demand_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Financial_Projection</targetReference>
            </connector>
            <label>Scorecard Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Site_Found_by_Address</name>
        <label>Was Site Found by Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Address_Not_Found_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found (default)</defaultConnectorLabel>
        <rules>
            <name>Site_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SiteRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scorecard</targetReference>
            </connector>
            <label>Site Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_IsPinCode</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  LEN({!var_SiteId}) &gt;= 5,
  LEN({!var_SiteId}) &lt;= 8,
  ISNUMBER({!var_SiteId})
)</expression>
    </formulas>
    <interviewLabel>Get Scorecard Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Scorecard Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Financial_Projection</name>
        <label>Get Financial Projection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Projection_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Potential_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Financial_Projection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_by_Address</name>
        <label>Get Records by Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Site_Found_by_Address</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Full_Address__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_AddressString</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_AddressString</elementReference>
            </value>
        </filters>
        <filters>
            <field>PIN_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AddressString</elementReference>
            </value>
        </filters>
        <object>Potential_Site__c</object>
        <outputReference>var_SiteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Full_Address__c</queriedFields>
        <sortField>Demand_Score__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_by_ID</name>
        <label>Get Records by ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scorecard</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__StateCode__s</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PIN_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </filters>
        <object>Potential_Site__c</object>
        <outputReference>var_SiteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Full_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Scorecard</name>
        <label>Get Scorecardget</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Scorecard_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Potential_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Site_ID_or_Address</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>formattedScoreCard</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;Location:&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt; {!var_SiteRecord.Full_Address__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;Demand Score:&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt; {!Get_Scorecard.Demand_Score__c} / 100&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;Competition:&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt; {!Get_Scorecard.Competition_Level__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;Blind Spot:&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt; {!Get_Scorecard.Blind_Spot_Flag__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;Quality Tier:&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt; {!Get_Scorecard.Site_Quality_Tier__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;Revenue (Yr1):&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt; Rs {!Get_Financial_Projection.Expected_Revenue_Yr1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;Payback:&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt; {!Get_Financial_Projection.Payback_Period_Yrs__c} years&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;Recommendation:&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt; {!Get_Scorecard.Agent_Recommendation__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>plainScoreCard</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Location: {!var_SiteRecord.Full_Address__c}
Demand Score: {!Get_Scorecard.Demand_Score__c} / 100
Competition: {!Get_Scorecard.Competition_Level__c}
Blind Spot: {!Get_Scorecard.Blind_Spot_Flag__c}
Quality Tier: {!Get_Scorecard.Site_Quality_Tier__c}
Revenue (Yr1): Rs {!Get_Financial_Projection.Expected_Revenue_Yr1__c}
Payback: {!Get_Financial_Projection.Payback_Period_Yrs__c} years
Recommendation: {!Get_Scorecard.Agent_Recommendation__c}</text>
    </textTemplates>
    <variables>
        <name>var_AddressString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PaybackDisplay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_PlainText</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RevenueDisplay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_ScorecardText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SiteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Potential_Site__c</objectType>
    </variables>
    <variables>
        <name>var_ViabilityDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
