force-app/main/default/flows/Get_Potential_Sites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_site_to_trip_collection</name>
        <label>Add site to trip collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TrimmedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CurrentSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TrimCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trip_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Max_Records</name>
        <label>Assign Max Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MaxRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region_Provided_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scored</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Default_Max_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records</name>
        <label>Count Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CounterTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Site_Collection_in_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Site</name>
        <label>Current Site</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentSite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trip_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Under_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assignment</name>
        <label>Final Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SiteCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TrimmedCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Result_Count</name>
        <label>Set Result Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ResultCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CounterTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trip_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Under_Limit</name>
        <label>Is Under Limit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Trip_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Under_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TrimCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_MaxRecords</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_site_to_trip_collection</targetReference>
            </connector>
            <label>Under Limit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Records_Default</name>
        <label>Max Records Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Max_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Set (default)</defaultConnectorLabel>
        <rules>
            <name>Status_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status</targetReference>
            </connector>
            <label>Status Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found (default)</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SiteCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Collection_in_Loop</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Region_Provided_or_Not</name>
        <label>Region Provided or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Potential_Site_Records_Without_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Region</defaultConnectorLabel>
        <rules>
            <name>Region_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Region</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Potential_Site_Records_With_Region</targetReference>
            </connector>
            <label>Region Provided</label>
        </rules>
        <rules>
            <name>Geocode_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_lat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_long</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Potential_Site_Records_With_geocode</targetReference>
            </connector>
            <label>Geocode Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Default_Max_Records</name>
        <label>Set Default Max Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Region_Provided_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Max Set (default)</defaultConnectorLabel>
        <rules>
            <name>Max_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_MaxRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_MaxRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Max_Records</targetReference>
            </connector>
            <label>Max Blank</label>
        </rules>
    </decisions>
    <description>Called by Agentforce Subagents to retrieve filtered site candidates</description>
    <environments>Default</environments>
    <interviewLabel>Get Potential Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Potential Sites</label>
    <loops>
        <name>Site_Collection_in_Loop</name>
        <label>Site Collection in Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_SiteCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Result_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Trip_Loop</name>
        <label>Trip Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_SiteCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Site</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>With geocode</description>
        <name>Get_Potential_Site_Records_With_geocode</name>
        <label>Get Potential Site Records With geocodesta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR 4) AND 3</filterLogic>
        <filters>
            <field>Address__Latitude__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_lat</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__Longitude__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_long</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scored</stringValue>
            </value>
        </filters>
        <filters>
            <field>Full_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FullAddress</elementReference>
            </value>
        </filters>
        <object>Potential_Site__c</object>
        <outputReference>var_SiteCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Demand_Score__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>With Region Filter</description>
        <name>Get_Potential_Site_Records_With_Region</name>
        <label>Get Potential Site Records With Region</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>Site_Status__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Region</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Region</elementReference>
            </value>
        </filters>
        <object>Potential_Site__c</object>
        <outputReference>var_SiteCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Demand_Score__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>With Region Filter</description>
        <name>Get_Potential_Site_Records_Without_Region</name>
        <label>Get Potential Site Records Without Region</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2)</filterLogic>
        <filters>
            <field>Site_Status__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Potential_Site__c</object>
        <outputReference>var_SiteCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Demand_Score__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Max_Records_Default</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CounterTemp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CurrentSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Potential_Site__c</objectType>
    </variables>
    <variables>
        <description>Populated if no records found or query fails</description>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_FullAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_lat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>var_long</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <description>Maximum number of sites to return. Default 10 if blank</description>
        <name>var_MaxRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>State or city name to filter sites by e.g. Maharshtra or Mumbai</description>
        <name>var_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Total Number of sites found - used by Subagent to confirm results</description>
        <name>var_ResultCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_SiteCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Potential_Site__c</objectType>
    </variables>
    <variables>
        <description>Site Status Picklist value - E.g. Under review or scored. Leave blank to return all statuses</description>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TrimCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_TrimmedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Potential_Site__c</objectType>
    </variables>
</Flow>
