force-app/main/default/flows/WhatsApp_Reply_Formatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Final_Reply</name>
        <label>Final Reply</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FinalReply</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plainFinalReplyTemplate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formula_RevenueInCrores</name>
        <dataType>String</dataType>
        <expression>TEXT(
  ROUND(
   {!Generate_Financial_Projection.var_RevenueY1}/ 10000000,
    2
  )
) &amp; &quot; Cr&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_RevenueText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Generate_Financial_Projection.var_RevenueY1})</expression>
    </formulas>
    <formulas>
        <name>fx_lengthOfFinalReply</name>
        <dataType>Number</dataType>
        <expression>LEN({!var_FinalReply})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>WhatsApp Reply Formatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhatsApp Reply Formatter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Scorecard_Summary_Flow_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Financial_Projection</name>
        <label>Generate_Financial_Projection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_Reply</targetReference>
        </connector>
        <flowName>Generate_Financial_Projection</flowName>
        <inputAssignments>
            <name>var_SiteId</name>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Scorecard_Summary_Flow_1</name>
        <label>Get Scorecard Summary Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Financial_Projection</targetReference>
        </connector>
        <flowName>Get_Scorecard_Summary</flowName>
        <inputAssignments>
            <name>var_PlainText</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SiteId</name>
            <value>
                <elementReference>var_SiteId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_RawScorecard</assignToReference>
            <name>var_ScorecardText</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>plainFinalReplyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!var_RawScorecard}
-------------------
FINANCIAL SUMMARY:
Revenue (Yr1): Rs {!formula_RevenueInCrores}
Payback: {!Generate_Financial_Projection.var_PaybackYears} years
Viability: {!Generate_Financial_Projection.var_ViabilityStatus}
-------------------
Reply APPROVE or REJECT to submit assessment.</text>
    </textTemplates>
    <variables>
        <name>var_CharCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_FinalReply</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RawScorecard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Truncated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
