force-app/main/default/flows/WhatsApp_Inbound_Message_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Projection</name>
        <label>Generate Projection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GenerateFinancialProjectionApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_WhatsApp_Reply</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>siteIds</name>
            <value>
                <elementReference>Create_Potential_Site_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateFinancialProjectionApex</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_GPS_from_WhatsApp_Message_Action_1</name>
        <label>Parse GPS from WhatsApp Message Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>WhatsAppGPSParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Whatsapp_Interaction_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sessionIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppGPSParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Score_New_Site</name>
        <label>Score New Site</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ExpansionScoringEngine</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Projection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>Create_Potential_Site_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExpansionScoringEngine</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_WhatsApp_Reply</name>
        <label>Send WhatsApp Reply</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>WhatsAppReplySender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Interaction_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>var_FinalReply</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WhatsAppReplySender</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>WhatsApp Inbound Message Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhatsApp Inbound Message Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Potential_Site_Record</name>
        <label>Create Potential Site Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Score_New_Site</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__City__s</field>
            <value>
                <elementReference>Parse_GPS_from_WhatsApp_Message_Action_1.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__PostalCode__s</field>
            <value>
                <elementReference>Parse_GPS_from_WhatsApp_Message_Action_1.pinCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__StateCode__s</field>
            <value>
                <elementReference>Parse_GPS_from_WhatsApp_Message_Action_1.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Source__c</field>
            <value>
                <stringValue>WhatsApp Field Query</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIN_Code__c</field>
            <value>
                <elementReference>Parse_GPS_from_WhatsApp_Message_Action_1.pinCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Potential_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Whatsapp_Interaction_Record</name>
        <label>Create Whatsapp Interaction Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Potential_Site_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Interaction_Status__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Channel__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <object>WhatsApp_Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_End_User</name>
        <label>Get End User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parse_GPS_from_WhatsApp_Message_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AuthenticatedEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MessagingEndUser.AuthenticatedEndUserId</elementReference>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <outputAssignments>
            <assignToReference>var_EndUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_phoneNumber</assignToReference>
            <field>MessagingPlatformKey</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Interaction_Status</name>
        <label>Update Interaction Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Whatsapp_Interaction_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interaction_Status__c</field>
            <value>
                <stringValue>Scorecard Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Sent_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WhatsApp_Interaction__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_End_User</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Format_WhatsApp_Reply</name>
        <label>Format WhatsApp Reply</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_WhatsApp_Reply</targetReference>
        </connector>
        <flowName>WhatsApp_Reply_Formatter</flowName>
        <inputAssignments>
            <name>var_Phone</name>
            <value>
                <elementReference>var_phoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SiteId</name>
            <value>
                <elementReference>Create_Potential_Site_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>var_EndUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>var_FinalReply</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_phoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Whatsapp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
